@import "vars";

.header {
  width: 100vw;
  height: 70px;
  background-color: var(--wintergreen-dream);
  box-shadow: 0 3px 5px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  margin-left: 10px;
  display: block;
  width: 50px;
  height: 50px;
  color: var(--nyanza);
}

/*--------MAIN-----------*/
.main {
  /*this style helps the footer be at the bottom*/
  min-height: calc(100vh - 220px);
}
.main-title {
  margin-top: 20px;
  font-size: 3rem;
  color: var(--eggplant);
  text-align: center;
  font-weight: bolder;
}

.section-subtitle {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

/*character modal*/
/* .characterModal {
  position: fixed;
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
} */

/*TEXT ANIMATION*/
.text-animation {
  animation: color-change 2s ease-in-out infinite;
}

.display-none {
  display: none;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}


