@import 'vars';

.character-card {
  width: 200px;
  height: 348px;
  background: rgb(94, 76, 90);
  background: linear-gradient(
    164deg,
    rgba(94, 76, 90, 1) 21%,
    rgba(85, 145, 127, 1) 77%,
    rgba(107, 171, 144, 1) 98%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;

  box-shadow: 0 0 20px var(--eggplant);

  transition: 2s;
  /*parallax effect*/
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.character-card:hover {
  cursor: pointer;
}

.character-card figure {
  border-radius: 5px;
  width: 200px;
}
.character-card figure img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.character-card h3 {
  font-size: 1.4rem;
}
.character-card div {
  margin-bottom: 30px;
}
.character-card div p {
  font-size: 1.1rem;
  color: var(--unbleached-silk);
}

.parallax-inner-elements {
  /*parallax effect inner elements*/
  transform: translateZ(20px);
}

@media (min-width: 500px) {
  .character-card {
    width: 250px;
  }
}

@media (min-width: 1100px) {
  .character-card {
    width: 200px;
  }
}
