
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  background: linear-gradient(
    to bottom right,
    var(--unbleached-silk),
    var(--nyanza)
  );
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--unbleached-silk);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--eggplant);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

a {
  list-style: none;
}

li {
  list-style: none;
}
