.header {
    width: 100vw;
    height: 70px;
    background-color: var(--wintergreen-dream);
    box-shadow: 0 3px 5px black;
}

.main-title {
    margin-top: 20px;
    font-size: 2rem;
    color: var(--eggplant);
    text-align: center;
    font-weight: bolder;
}