.header {
  width: 100vw;
  height: 70px;
  background-color: var(--wintergreen-dream);
  box-shadow: 0 3px 5px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  margin-left: 10px;
  display: block;
  width: 50px;
  height: 50px;
  color: var(--nyanza);
}




.prev-next-container {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.prev-next-buttons {
  width: 90px;
  height: 50px;
  background-color: var(--eggplant);
  border: none;
  color: var(--nyanza);
  font-size: 1.5rem;
  font-weight: bolder;
  transition: 0.2s;
}
.prev-button {
  margin-right: 10px;
  padding-left: 10px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.next-button {
  margin-left: 10px;
  padding-right: 10px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.prev-next-buttons:hover {
  width: 100px;
  height: 60px;
  cursor: pointer;
}



.main-title {
  margin-top: 20px;
  font-size: 3rem;
  color: var(--eggplant);
  text-align: center;
  font-weight: bolder;
  
}
.characters-container {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 50px;
  place-items: center;
}
.section-subtitle {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

/*footer*/
.footer {
  margin-top: 50px;
  background-color: #24292e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1.3rem;
}

/*TEXT ANIMATION*/
.text-animation {
  animation: color-change 2s ease-in-out infinite;
}

.display-none {
  display: none;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}


@media (min-width: 500px) {
  .characters-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .characters-container {
    grid-template-columns: repeat(5, 1fr);
  }
}