:root {
  --unbleached-silk: #ffe2d1ff;
  --nyanza: #e1f0c4ff;
  --polished-pine: #6bab90ff;
  --wintergreen-dream: #55917fff;
  --eggplant: #5e4c5aff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  background-color: var(--unbleached-silk);
}

a {
  list-style: none;
}

li {
  list-style: none;
}